npm install express --save
npm install express-handlebars 
npm install express-handlebars-sections
npm install mysql
npm install serve-static
npm install chart.js --save
npm install express-session
npm install bcrypt
npm install passport
npm install passport-local
npm install --save cors